@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Barlow", sans-serif;
  width: 100%;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.navbar {
    position: fixed;
    top:0;
    width: 100%;
    height: 80px;
    padding-top: 20px;
    background-color: red;
}
.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__list {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.navbar__list__item__link {
  text-decoration: none;
  padding: 10px 20px;
}
.icon{
  display: none;
}
@media only screen and (max-width: 800px) {
  .navbar__list{
    display: none;
  }
  .icon{
    display: block;
  }
}

/* Header started */
.header {
  width: 100%;
  margin-top: 80px;
}
.header__wrapper {
  display: flex;
  align-items: center;
  height: 600px;
  padding: 0px 80px;
  border-radius: 10px;
  background: #a2a2a2;
}
.header__wrapper__info {
  width: 50%;
}
.header__wrapper__info__title {
  color: #fefcf7;
  font-family: Fraunces 9pt;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 72px; /* 100% */
  margin-bottom: 32px;
}
.header__wrapper__info__text {
  color: #fefcf7;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-bottom: 56px;
}
.header__wrapper__info__button {
  padding: 16px 32px;
  border-radius: 6px;
  background: #0e8784;

  color: #fefcf7;
  text-align: center;
  font-family: Fraunces 9pt;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 25px; /* 138.889% */
  border: none;
}
@media only screen and (max-width: 1000px) {
  .header__wrapper__info__title{
    font-size: 48px;
    line-height: 48px;
    color:red;
  }
  .header__wrapper__info__text{
    font-size: 14px;
    line-height: 18px;
  }
  .header__wrapper__info__button{
    padding: 12px 24px;
    font-size: 14px;
    line-height: 18px;
  }
}
@media only screen and (max-width: 900px) {
  .header__wrapper__info{
    width: 100%;
  }
  .header__wrapper__space{
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .header{
    padding: 10px;
  }
  .header__wrapper__info__title{
    width: 100%;
  }
  .header__wrapper__info__text{
    width: 100%;
  }
  .header__wrapper__info__button{
    width: 100%;
  }
}
/* footer started */
.footer{
    position: sticky;
    top:0;
    width: 100%;
    background: #2C343E;
    padding: 47px 0px;
    margin-top: 168px;
    margin-bottom: 100px;
}
.footer .container{
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.footer__list{
    display: flex;
    align-items:center;
    list-style: none;
}
.footer__list__item__link{
    text-decoration: none;
    padding: 10px 20px;
    color:white;

}
.footer__icons__list{
    display: flex;
    align-items:center;
    list-style: none;
}
.footer__icons__link{
    padding: 10px 15px;
    color:white;

}
@media only screen and (max-width: 900px) {
  .footer{
    width: 100%;
  }
  .footer .container{
    display: flex;
    flex-direction: column;
    gap:30px;
  }
}
@media only screen and (max-width: 500px) {
  .footer{
    width: 100%;
  }
  .footer .footer__list{
    display: flex;
    flex-direction: column;
    gap:30px;
  }
}